h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
h2 {
  border-bottom: green;
  border-bottom-style: solid;
  width: 10em;
}
img {
  height: 50%;
  width: 80%;
}
